In [3]:
import pandas as pd

df = pd.read_excel('marks.xls')

In [4]:
df.head()

   Application No  HighSchool GPA Physics Marks Chem Marks Biology Marks
0            1036             4.5            78         85       No Data
1            1072             3.0            98        105            96
2            1294             4.1  Not Avilable    No Data            86
3            1294             3.3       No Data         85  Not Avilable
4            1294             3.1            67         74            65

In [9]:
def convert_dummy_zero(cell):
    if cell in ['Not Avilable','No Data']:
        return 0
    return cell

In [10]:
df2 = pd.read_excel('marks.xls',converters={
    'Physics Marks':convert_dummy_zero,
    'Chem Marks':convert_dummy_zero,
    'Biology Marks':convert_dummy_zero,
})

In [11]:
df2.head()

   Application No  HighSchool GPA  Physics Marks  Chem Marks  Biology Marks
0            1036             4.5             78          85              0
1            1072             3.0             98         105             96
2            1294             4.1              0           0             86
3            1294             3.3              0          85              0
4            1294             3.1             67          74             65

In [13]:
df.to_excel('newfileexcel.xls',sheet_name ='sheet1',index=False)

In [17]:
with pd.ExcelWriter('datanew.xls') as w:
    df.to_excel(w,sheet_name='sheet1')
    df2.to_excel(w,sheet_name='sheet2')